<html>
    <head>
		<title>zsplus</title>
    </head>
    <body>
    	<div>
        	<h1> 
        		<a href="http://www.baidu.com">Baidu.com</a> 
        	</h1>
        </div>
        <br />
        <div>
        	<p>publish time : 2020.7.25 01:50 </p>
        	<h2><a href="http://www.bilibili.com"> 哔哩哔哩干杯~ </a></h2>
        	<p>众所周知 我一点也不喜欢二次元</p>
        </div>
        <br />
        <div>
        	<p>publish time : 2020.7.25 01:50 </p>
        	<h2><a href="http://www.codeforces.com"> CodeForces </a></h2>
        	<p>eat() code() sleep()</p>
        </div>
    </body>
</html>